header { 
    text-align: center; 
    margin-bottom: 40px; 
}

body {

}

.header {
    
}

.navBar {
    display: flex; /* Mirar cómo va lo del display flex exactamente */
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.item{
    flex: 1;
    text-align: center;
    /* margin: 0 10px; */
    padding: 12px 0; /* Primer valor: arriba-abajo. Segundo: Izquierda-derecha */
    background-color: #919fb0;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.item:hover {
    background-color: rgb(23, 62, 106);
    transform: translateY(-7px);

}

footer {
    background-color: #FAF6EE;
    font-family: var(--font-family);
    font-size: 10px;
    color: #888888;
    padding: 20px 40px;
    border-top: 4px solid #E0D8C0;
    margin-right: 50px;
}

.highlight{
    font-weight: bold;
    color: #1E1E1E;
}